---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";

const allPosts = await Astro.glob("../content/tips/*.md");
---

<Layout title="Welcome to Astro.">
	<main>
		<Header title="AstroBuild.tips" />
		<Hero />
		<ul role="list" class="link-card-grid">
			{
				allPosts.map((item) => (
					<Card
						title={item?.frontmatter?.title}
						time={item?.frontmatter?.pubDate}
						tags={item?.frontmatter?.tags}
					/>
				))
			}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
