<p class="instructions">
	Astro es un Framework de JavaScript que facilita la creación de aplicaciones
	web modernas y escalables. Astro permite a los desarrolladores construir
	soluciones eficientes y sostenibles con rapidez y facilidad.
</p>

<style>
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 3px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
</style>
